######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Maven
######################
/log/
*/target/**
target/**

######################
# Windows
######################
# Windows image file caches
Thumbs.db